.menuBarContainer {
    width: 1350;
    height: 60px;
    background-color: #160101da;
    border-top: 1px #cccccc solid;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    margin-left: 500px;
    padding-top: 5px;
    display: inline;
}

.imgg {
    width: 150px;
    top: 0px;
    left: 0px;
    margin-top: 0px;
}

table.paleBlueRows {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid #FFFFFF;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.paleBlueRows td,
table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 15px 15px;
}

table.paleBlueRows tbody td {
    font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
}

table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}